*.so*
*.o*
.DS_Store

*_data
*_data_*
a.out
*.npy
*.mexmaci64
*.m~
*.pickle
*.pyc
*.swp
*.pdf

/*.egg-info/
/build/
/tmp/
/dist/

/jupyter_notebooks/.ipynb_checkpoints/

/py_only_docs/
/docs/_build/

/.vscode/
/_vscode/
